/* CSS for Hours Reporter */
.header {
  -webkit-appearance: none;
  border: 5px;
  border-color: #bbaa77; 
  background: white;
  color: #bbaa77;
  font: -webkit-small-control;
  font-size: 20px;
  font-weight: bold;
}
.fieldmessage {
  -webkit-appearance: none;
  border-color: #bbaa77; 
  background: white;
  color: #bbaa77;
  font: -webkit-small-control;
  font-size: 14px;
  vertical-align: middle;
}
.logoutbutton {
  -webkit-appearance: none;
  display: block;
  margin: 5px;
  height: 20px;
  padding: 5px;
  border: none;
  border-radius: 5px;
  text-align: center;
  background: #bbaa77;
  color: white;
  font: -webkit-small-control;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
}
.submitbutton {
  -webkit-appearance: none;
  display: block;
  margin: 5px;
  height: 44px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  text-align: center;
  background: #bbaa77;
  color: white;
  font: -webkit-small-control;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
}
.linkasbutton {
  -webkit-appearance: none;
  display: block;
  margin: 5px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  text-align: center;
  background: #bbaa77;
  color: white;
  font: -webkit-small-control;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
}
.linkaslink {
  -webkit-appearance: none;
  margin: 5px;
  padding: 10px;
  border: none;
  background: white;
  color: #bbaa77;
  font: -webkit-small-control;
  font-size: 14px;
  text-decoration: underline;
}
.pagemenulink1 {
  display: block;
  margin: 5px;
  width: 100px;
  height: 19px;
  padding: 19px 10px;
  border: none;
  border-radius: 5px;
  text-align: center;
  line-height: 20px;
  background: #bbaa77;
  color: white;
  font: -webkit-small-control;
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
}
.pagemenulink2 {
  display: block;
  margin: 5px;
  width: 100px;
  height: 35px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  text-align: center;
  line-height: 20px;
  background: #bbaa77;
  color: white;
  font: -webkit-small-control;
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
}
