/* CSS for Hours Reporter */
.submitbutton {
  -webkit-appearance: none;
  display: block;
  margin: 5px;
  height: 44px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  text-align: center;
  background: #bbaa77;
  color: white;
  font: -webkit-small-control;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
}
.pagemenulink1 {
  display: block;
  margin: 5px;
  width: 100px;
  height: 19px;
  padding: 19px 10px;
  border: none;
  border-radius: 5px;
  text-align: center;
  line-height: 20px;
  background: #bbaa77;
  color: white;
  font: -webkit-small-control;
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
}
.pagemenulink2 {
  display: block;
  margin: 5px;
  width: 100px;
  height: 35px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  text-align: center;
  line-height: 20px;
  background: #bbaa77;
  color: white;
  font: -webkit-small-control;
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
}
