/* CSS for Hours Reporter */
.titletext {
  color: #aa1f22;
  font-family: sans-serif;
  font-size: 2em;
  font-weight: bold;
  text-decoration: none;
}
.mynavbartext {
  color: #aa1f22;
}
.header {
  -webkit-appearance: none;
  border: 5px;
  border-color: #aa1f22; 
  background: white;
  color: #aa1f22;
  font: -webkit-small-control;
  font-size: 20px;
  font-weight: bold;
}
.fieldmessage {
  -webkit-appearance: none;
  border-color: #aa1f22; 
  background: white;
  color: #aa1f22;
  font: -webkit-small-control;
  font-size: 14px;
  vertical-align: middle;
}
.logoutbutton {
  -webkit-appearance: none;
  display: block;
  margin: 5px;
  padding: 5px;
  border: none;
  border-radius: 5px;
  text-align: center;
  background: #aa1f22;
  color: white;
  font: -webkit-small-control;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
}
.submitbutton {
  -webkit-appearance: none;
  display: block;
  margin: 5px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  text-align: center;
  background: #aa1f22;
  color: white;
  font: -webkit-small-control;
  font-weight: bold;
  text-decoration: none;
}
.linkasbutton {
  -webkit-appearance: none;
  display: block;
  margin: 5px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  text-align: center;
  background: #aa1f22;
  color: white;
  font: -webkit-small-control;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
}
.linkaslink {
  -webkit-appearance: none;
  background: white;
  color: #aa1f22;
  font: -webkit-small-control;
}
