<!DOCTYPE html>
<html lang="en">
  <head>
{% include "templates/meta.html" %}
{% include "templates/title.html" %}
{% include "templates/head_bootstrap.html" %}
{% include "templates/css.html" %}
{% include "templates/head_gae_js.html" %}
</head>
<body>
{% include "templates/menu.html" %}
<h1>Billing profile</h1>
<form method="GET" action="billing-profile-save">
<div class="row"><div class="col-xs-1"></div><div class="col-xs-3 col-md-2">Approver name:</div><div class="col-xs-4 col-md-2"><input type="text" name="approver_name" value="{{ approver_name }}"></div></div>
<div class="row"><div class="col-xs-1"></div><div class="col-xs-3 col-md-2">Approver contact:</div><div class="col-xs-4 col-md-2"><input type="text" name="approver_contact" value="{{ approver_contact }}"></div></div>
<div class="row"><div class="col-xs-1"></div><div class="col-xs-3 col-md-2">End client:</div><div class="col-xs-4 col-md-2"><input type="text" name="end_client_name" value="{{ end_client_name }}"></div></div>
<div class="row"><div class="col-xs-1"></div><div class="col-xs-3 col-md-2">Billed client:</div><div class="col-xs-4 col-md-2"><input type="text" name="billed_client_name" value="{{ billed_client_name }}"></div></div>
<div class="row"><div class="col-xs-1"></div><div class="col-xs-3 col-md-2">Yast ID:</div><div class="col-xs-4 col-md-2"><input type="text" name="yast_id" value="{{ yast_id }}"></div></div>
<div class="row"><div class="col-xs-1"></div><div class="col-xs-3 col-md-2">Yast password:</div><div class="col-xs-4 col-md-2"><input type="password" name="yast_password" value="{{ yast_password }}"></div></div>
<div class="row"><div class="col-xs-1"></div><div class="col-xs-3 col-md-2">Yast parent ID:</div><div class="col-xs-4 col-md-2"><input type="text" name="yast_parent_project_id" value="{{ yast_parent_project_id }}"></div></div>
<div class="row"><div class="col-xs-1"></div><div class="col-xs-3 col-md-2"></div><div class="col-xs-1 col-md-1"><button type="submit" class="submitbutton" value="Save">Commit</button></div>
</form>
{% include "templates/body_gae_logo.html" %}
{% include "templates/body_bootstrap.html" %}
</body>
</html>
