<!DOCTYPE html>
<html lang="en">
  <head>
{% include "templates/meta.html" %}
{% include "templates/title.html" %}
{% include "templates/head_bootstrap.html" %}
{% include "templates/css.html" %}
{% include "templates/head_gae_js.html" %}
</head>
<body>
<h1>Task details</h1>
<p>Start date: {{ start }}</p>
<p>End date: {{ end }}</p>
{% if status == 0 %}
<p>These are the hours reported:</p>
<p></p>
<form method="GET" action="details-download">
<input type="hidden" name="start_date" value="{{ start }}">
<input type="hidden" name="end_date" value="{{ end }}">
Download in format: <select name="format">
<option selected value="CSV">CSV</option>
<option value="XML">XML</option>
<option value="JSON">JSON</option>
</select>
<input type="submit" value="Download">
</form>
<p></p>
<table>
<tr>
<th>Project</th>
<th>Date</th>
<th>Hours</th>
<th>Description</th>
</tr>
{% for k, r in records %}
<tr>
<td>{{ projects[r.project].name }}</td>
<td>{{ r.variables['startDate'] }}</td>
<td>{{ r.variables['taskHours'] }}</td>
<td>{{ r.variables['comment'] }}</td>
</tr>
{% endfor %}
</table>
<form method="GET" action="details-download">
<input type="hidden" name="start_date" value="{{ start }}">
<input type="hidden" name="end_date" value="{{ end }}">
Download in format: <select name="format">
<option selected value="CSV">CSV</option>
<option value="XML">XML</option>
<option value="JSON">JSON</option>
</select>
<input type="submit" value="Download">
</form>
{% else %}
<p>Report status was {{ status }}</p>
{% endif %}
{% include "templates/body_gae_logo.html" %}
{% include "templates/body_bootstrap.html" %}
</body>
</html>
