<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
{% include "templates/title.html" %}
{% include "templates/css.html" %}
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
</head>
<body>
{% include "templates/logged_in_header.html" %}
{% include "templates/menu.html" %}
<p>Profile: {{ contractor_id }}</p>
<p>Submitter name: {{ contractor_name }}</p>
<p>Approver name: {{ approver_name }}</p>
<p>Approver contact: {{ approver_contact }}</p>
<p>End client: {{ end_client_name }}</p>
<p>Billed client: {{ billed_client_name }}</p>
<p>Yast ID: {{ yast_id }}</p>
<p>Yast Password: {{ yast_password }}</p>
<p>Yast parent id: {{ yast_parent_project_id }}</p>
<p></p>
<form method="GET" action="edit-profile">
<input type="hidden" name="contractor_id" value="{{ contractor_id }}">
<button type="submit" class="submitbutton" value="Edit">Edit</button>
</form>
<p></p>
<img src="https://developers.google.com/appengine/images/appengine-noborder-120x30.gif" 
alt="Powered by Google App Engine" />
</body>
</html>
