<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
{% include "templates/title.html" %}
{% include "templates/css.html" %}
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
</head>
<body>
{% include "templates/logged_in_header.html" %}
{% include "templates/menu.html" %}
<p>Name: {{ user_name }}</p>
<p>Password: {{ user_password }}</p>
<p></p>
<form method="GET" action="edit-user-profile">
<input type="hidden" name="user_id" value="{{ user_id }}">
<button type="submit" class="submitbutton" value="Edit">Edit</button>
</form>
<p></p>
<img src="https://developers.google.com/appengine/images/appengine-noborder-120x30.gif" 
alt="Powered by Google App Engine" />
</body>
</html>
