<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
{% include "templates/title.html" %}
{% include "templates/css.html" %}
  <style type="text/css">
  </style>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
</head>
<body>
{% include "templates/logged_in_header.html" %}
{% include "templates/menu.html" %}
<p>Profile: {{ contractor_id }}</p>
<form method="GET" action="save-billing-profile">
<p>Approver name: <input type="text" name="approver_name" value="{{ approver_name }}"></p>
<p>Approver contact: <input type="text" name="approver_contact" value="{{ approver_contact }}"></p>
<p>End client: <input type="text" name="end_client_name" value="{{ end_client_name }}"></p>
<p>Billed client: <input type="text" name="billed_client_name" value="{{ billed_client_name }}"></p>
<p>Yast ID: <input type="text" name="yast_id" value="{{ yast_id }}"></p>
<p>Yast password: <input type="password" name="yast_password" value="{{ yast_password }}"></p>
<p>Yast parent ID: <input type="text" name="yast_parent_project_id" value="{{ yast_parent_project_id }}"></p>
<button type="submit" class="submitbutton" value="Save">Commit</button>
</form>
<form method="GET" action="select">
<input type="hidden" name="contractor_id" value="{{ contractor_id }}">
<button type="submit" class="submitbutton" value="Cancel">Cancel</button>
</form>
<p></p>
<p><img src="https://developers.google.com/appengine/images/appengine-noborder-120x30.gif" 
alt="Powered by Google App Engine" /></p>
</body>
</html>
