<!DOCTYPE html>
<html lang="en">
  <head>
{% include "templates/meta.html" %}
{% include "templates/title.html" %}
{% include "templates/head_bootstrap.html" %}
{% include "templates/css.html" %}
{% include "templates/head_gae_js.html" %}
  <script type="text/javascript">
  function check_passwords_match(){
   p1 = document.getElementById('new_user_password').value;
   p2 = document.getElementById('new_user_confirm_password').value;
   message = '';
   if ( p1 == p2 ) {
	   message = "Passwords match";
    } else {
	   message = "Passwords do not match";
	 }
	document.getElementById('new_user_confirm_password_message').innerHTML = message;
	}
	function password_onkeyup() {
	  check_passwords_match();
	}
	function confirm_password_onkeyup() {
	  check_passwords_match();
	}
  </script>
</head>
<body>
{% include "templates/logged_out_header.html" %}
{% if message != '' %}
<p>{{ message }}</p>
{% endif %}
<form method="GET" action="register">
<h1>Register new user</h1>
<div class="row"><div class="col-xs-1"></div><div class="col-xs-2 col-md-1">User ID:</div><div class="col-xs-2 col-md-1"><input type="text" name="user_id"></div><div class="col-xs-2 col-md-1 fieldmessage" id="new_user_id_message">Required</div></div>
<div class="row"><div class="col-xs-1"></div><div class="col-xs-2 col-md-1">Password:</div><div class="col-xs-2 col-md-1"><input type="password" name="fala" id="new_user_password" onkeyup="password_onkeyup()" id="new user_password_message" class="fieldmessage"></div></div>
<div class="row"><div class="col-xs-1"></div><div class="col-xs-2 col-md-1">Confirm password:</div><div class="col-xs-2 col-md-1"><input type="password" name="bala" id="new_user_confirm_password" onkeyup="confirm_password_onkeyup()"></div><div class="col-xs-2 col-md-1 fieldmessage" id="new_user_confirm_password_message"></div></div>
<div class="row"><div class="col-xs-1"></div><div class="col-xs-2 col-md-1"></div><div class="col-xs-2 col-md-1"></div><div class="col-xs-2 col-md-1"><button type="submit" class="submitbutton" value="Register">Register</button></div></div>
</form>
{% include "templates/body_gae_logo.html" %}
{% include "templates/body_bootstrap.html" %}
</body>
</html>
