<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
  <title>Hours reporter</title>
  <style type="text/css">@import "css/jquery.datepick.css";</style> 
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
  <script type="text/javascript" src="js/jquery.datepick.js"></script>
  <style type="text/css">@import "css/hours_reporter.css";</style>
</head>
<body>
{% include "templates/logo.html" %}
{% include "templates/menu.html" %}
<p></p>
<img src="https://developers.google.com/appengine/images/appengine-noborder-120x30.gif" 
alt="Powered by Google App Engine" />
</body>
</html>
