<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
  <title>Hours reporter</title>
  <style type="text/css">@import "css/jquery.datepick.css";</style> 
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
  <script type="text/javascript" src="js/jquery.datepick.js"></script>
  <script type="text/javascript">
$(function() {
	$('#popupDatepicker1').datepick();
	$('#popupDatepicker2').datepick();
	$('#popupDatepicker3').datepick();
	$('#popupDatepicker4').datepick();
});

function showDate(date) {
	alert('The date chosen is ' + date);
}
  </script></head>
<body>
<h1><img alt="Hours reporter logo" src="images/logo.png"></h1>
<form method="GET" action="details" target="_blank">
<input type="hidden" name="contractor_id" value="{{ contractor_id }}">
<input type="hidden" name="fala" value="{{ fala }}">
<input type="hidden" name="bala" value="{{ bala }}">
<p>Starting date: <input type="text" id="popupDatepicker1" name="start_date"></p>
<p>Ending date: <input type="text" id="popupDatepicker2" name="end_date"></p>
<input type="submit" value="Details">
</form>
<p></p>
<form method="GET" action="timesheet" target="_blank">
<input type="hidden" name="contractor_id" value="{{ contractor_id }}">
<input type="hidden" name="fala" value="{{ fala }}">
<input type="hidden" name="bala" value="{{ bala }}">
<p>Submitter name: <input type="text" name="contractor_name" value="{{ contractor_name }}"></p>
<p>Approver name: <input type="text" name="approver_name" value="{{ approver_name }}"></p>
<p>Approver contact: <input type="text" name="approver_contact" value="{{ approver_contact }}"></p>
<p>Starting date: <input type="text" id="popupDatepicker3" name="start_date"></p>
<p>Ending date: <input type="text" id="popupDatepicker4" name="end_date"></p>
<input type="submit" value="Timesheet">
</form>
<p></p>
<img src="https://developers.google.com/appengine/images/appengine-noborder-120x30.gif" 
alt="Powered by Google App Engine" />
</body>
</html>
