<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
{% include "templates/title.html" %}
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
</head>
<body>
<h1>Monthly summary</h1>
<table>
<tr><td width="20">&nbsp;</td><td>Client: OMB</td><td>&nbsp;</td><td>Billed client: QBase</td></tr>
<tr><td width="20">&nbsp;</td><td>Start date: {{ start }}</td><td>&nbsp;</td><td>End date: {{ end }}</td></tr>
</table>
<p></p>
{% if status == 0 %}
<table>
<tr>
<th width="20">&nbsp;</th>
<th align="left">Month start</th>
<th align="left">Month end</th>
<th align="right">Hours</th>
</tr>
{% for r in monthly_summary %}
<tr>
<td width="20">&nbsp;</td>
<td>{{ r['start_date'] }}</td>
<td>{{ r['end_date'] }}</td>
<td align="right">{{ r['hours'] }}</td>
</tr>
{% endfor %}
<tr>
<td width="20">&nbsp;</td>
<td>Total:</td>
<td></td>
<td align="right">{{ total_hours }}</td>
</tr>
</table>
{% else %}
<p>Report status was {{ status }}</p>
{% endif %}
<p></p>
<img src="https://developers.google.com/appengine/images/appengine-noborder-120x30.gif" 
alt="Powered by Google App Engine" />
</body>
</html>
