<!DOCTYPE html>
<html lang="en">
  <head>
{% include "templates/meta.html" %}
{% include "templates/title.html" %}
{% include "templates/head_bootstrap.html" %}
{% include "templates/css.html" %}
{% include "templates/head_gae_js.html" %}
</head>
<body>
{% include "templates/logged_in_header.html" %}
{% include "templates/menu.html" %}
<h1>Timesheet report</h1>
<form method="GET" action="timesheet-report" target="_blank">
<div class="container">
<div class="row">
  <div class="col-xs-1"></div>
  <div class="col-xs-3 col-md-2">Approver name:</div>
  <div class="col-xs-4 col-md-2"><input type="text" name="approver_name" value="{{ approver_name }}"></div>
</div>
<div class="row">
  <div class="col-xs-1"></div>
  <div class="col-xs-3 col-md-2">Approver contact:</div>
  <div class="col-xs-4 col-md-2"><input type="text" name="approver_contact" value="{{ approver_contact }}"></div>
</div>
<div class="row">
  <div class="col-xs-1"></div>
  <div class="col-xs-3 col-md-2">End client:</div>
  <div class="col-xs-4 col-md-2"><input type="text" name="end_client_name" value="{{ end_client_name }}"></div>
</div>
<div class="row">
  <div class="col-xs-1"></div>
  <div class="col-xs-3 col-md-2">Billed client:</div>
  <div class="col-xs-4 col-md-2"><input type="text" name="billed_client_name" value="{{ billed_client_name }}"></div>
</div>
<div class="row">
  <div class="col-xs-1"></div>
  <div class="col-xs-3 col-md-2">Starting date:</div>
  <div class="col-xs-4 col-md-2"><input type="text" name="start_date" id="dp1" data-date-format="yyyy-mm-dd" data-date="{{ start_date }}" value="{{ start_date }}"></div>
</div>
<div class="row">
  <div class="col-xs-1"></div>
  <div class="col-xs-3 col-md-2">Ending date:</div>
  <div class="col-xs-4 col-md-2"><input type="text" name="end_date" id="dp2" data-date-format="yyyy-mm-dd" data-date="{{ end_date }}" value="{{ end_date }}"></div>
</div>
<div class="row">
  <div class="col-xs-1"></div>
  <div class="col-xs-3 col-md-2"></div>
  <div class="col-xs-4 col-md-2"><button type="submit" class="submitbutton" value="Timesheet">Create timesheet</button></div>
</div>
</div>
</form>
{% include "templates/body_gae_logo.html" %}
{% include "templates/body_bootstrap.html" %}
</body>
</html>
