<!DOCTYPE html>
<html lang="en">
  <head>
{% include "templates/meta.html" %}
{% include "templates/title.html" %}
{% include "templates/head_bootstrap.html" %}
{% include "templates/css.html" %}
{% include "templates/head_gae_js.html" %}
<style type="text/css">
th.column_indent { width: 2%; }
th.column_date { width: 14%; text-align: right; }
th.column_hours { width: 10%; text-align: right; }
th.column_weekday { width: 9%; text-align: right; }
td.column_date { text-align: right; }
td.column_hours { text-align: right; }
td.column_weekday { text-align: right; }
</style>
</head>
<body>
<h1>Timesheet</h1>
<table>
<tr><td width="20">&nbsp;</td><td>Client: {{ end_client_name }}</td><td>&nbsp;</td><td>Billed client: {{ billed_client_name }}</td></tr>
<tr><td width="20">&nbsp;</td><td>Start date: {{ start }}</td><td>&nbsp;</td><td>End date: {{ end }}</td></tr>
</table>
<p></p>
{% if status == 0 %}
<table>
<tr>
<th class="column_indent">&nbsp;</th>
<th class="column_date">Week starting</th>
<th class="column_hours">Hours</th>
<th class="column_indent">&nbsp;</th>
<th class="column_weekday">Sunday</th>
<th class="column_weekday">Monday</th>
<th class="column_weekday">Tuesday</th>
<th class="column_weekday">Wednesday</th>
<th class="column_weekday">Thursday</th>
<th class="column_weekday">Friday</th>
<th class="column_weekday">Saturday</th>
<th">&nbsp;</th>
</tr>
{% for r in weekly_summary %}
<tr>
<td>&nbsp;</td>
<td class="column_date">{{ r['date'] }}</td>
<td class="column_hours">{{ r['hours'] }}</td>
<td>&nbsp;</td>
<td class="column_weekday">{{ r['sunday'] }}</td>
<td class="column_weekday">{{ r['monday'] }}</td>
<td class="column_weekday">{{ r['tuesday'] }}</td>
<td class="column_weekday">{{ r['wednesday'] }}</td>
<td class="column_weekday">{{ r['thursday'] }}</td>
<td class="column_weekday">{{ r['friday'] }}</td>
<td class="column_weekday">{{ r['saturday'] }}</td>
</tr>
{% endfor %}
<tr>
<td>&nbsp;</td>
<td class="column_date">Total:</td>
<td class="column_hours">{{ total_hours }}</td>
</tr>
</table>
{% else %}
<p>Report status was {{ status }}</p>
{% endif %}
<p></p>
<p>Submitter name: {{ user_name }}</p>
<p>Submitter contact: {{ contractor_id }}</p>
<p>Submitter: _____________________________________ Date: ______________</p>
<p></p>
<p>Approver name: {{ approver_name }}</p>
<p>Approver contact: {{ approver_contact }}</p>
<p>Approver: _____________________________________ Date: ______________</p>
{% include "templates/body_gae_logo.html" %}
{% include "templates/body_bootstrap.html" %}
</body>
</html>
