<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
{% include "templates/title.html" %}
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
</head>
<body>
<img alt="Hours reporter logo" src="images/logo.png">
<p>Could not retrieve data from yast.com.</p>
<p>Error message: {{ message }}</p>
<p></p>
</body>
</html>