<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
{% include "templates/meta.html" %}
{% include "templates/title.html" %}
{% include "templates/css.html" %}
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
  <script type="text/javascript" src="js/jquery.datepick.js"></script>
  <script type="text/javascript">
$(function() {
	$('#popupDatepicker1').datepick();
	$('#popupDatepicker2').datepick();
});
 </script>
</head>
<body>
{% include "templates/logged_in_header.html" %}
{% include "templates/menu.html" %}
<h1>Timesheet report</h1>
<form method="GET" action="timesheet-report" target="_blank">
<p>Approver name: <input type="text" name="approver_name" value="{{ approver_name }}"></p>
<p>Approver contact: <input type="text" name="approver_contact" value="{{ approver_contact }}"></p>
<p>End client: <input type="text" name="end_client_name" value="{{ end_client_name }}"></p>
<p>Billed client: <input type="text" name="billed_client_name" value="{{ billed_client_name }}"></p>
<p>Starting date: <input type="text" id="popupDatepicker1" name="start_date"></p>
<p>Ending date: <input type="text" id="popupDatepicker2" name="end_date"></p>
<button type="submit" class="submitbutton" value="Timesheet">Create timesheet</button>
</form>
<p></p>
<img src="https://developers.google.com/appengine/images/appengine-noborder-120x30.gif" 
alt="Powered by Google App Engine" />
</body>
</html>
