<!DOCTYPE html>
<html lang="en">
  <head>
{% include "templates/meta.html" %}
{% include "templates/title.html" %}
{% include "templates/head_bootstrap.html" %}
{% include "templates/css.html" %}
{% include "templates/head_gae_js.html" %}
</head>
<body>
<h1>Timesheet</h1>
<table>
<tr><td width="20">&nbsp;</td><td>Client: {{ end_client_name }}</td><td>&nbsp;</td><td>Billed client: {{ billed_client_name }}</td></tr>
<tr><td width="20">&nbsp;</td><td>Start date: {{ start }}</td><td>&nbsp;</td><td>End date: {{ end }}</td></tr>
{% if user_id != contractor_id %}
<tr><td width="20">&nbsp;</td><td>User: {{ user_id }}</td><td>&nbsp;</td><td>Name: {{ user_name }}</td></tr>
{% endif %}
<tr><td width="20">&nbsp;</td><td>Contractor: {{ contractor_id }}</td><td>&nbsp;</td><td>Name: {{ contractor_name }}</td></tr>
</table>
<p></p>
{% if status == 0 %}
<table>
<tr>
<th width="20">&nbsp;</th>
<th align="left">Date</th>
<th align="right">Hours</th>
</tr>
{% for r in summary %}
<tr>
<td width="20">&nbsp;</td>
<td>{{ r['date'] }}</td>
<td align="right">{{ r['hours'] }}</td>
</tr>
{% endfor %}
<tr>
<td width="20">&nbsp;</td>
<td>Total:</td>
<td align="right">{{ total_hours }}</td>
</tr>
</table>
{% else %}
<p>Report status was {{ status }}</p>
{% endif %}
<p></p>
<p>Submitter name: {{ user_name }}</p>
<p>Submitter contact: {{ contractor_id }}</p>
<p>Submitter: _____________________________________ Date: ______________</p>
<p></p>
<p>Approver name: {{ approver_name }}</p>
<p>Approver contact: {{ approver_contact }}</p>
<p>Approver: _____________________________________ Date: ______________</p>
{% include "templates/body_bootstrap.html" %}
{% include "templates/body_gae_logo.html" %}
</body>
</html>
