<!DOCTYPE html>
<html lang="en">
  <head>
{% include "templates/meta.html" %}
{% include "templates/title.html" %}
{% include "templates/head_bootstrap.html" %}
{% include "templates/css.html" %}
{% include "templates/head_gae_js.html" %}
</head>
<body>
{% include "templates/menu.html" %}
<h1>User profile</h1>
<form method="GET" action="user-profile-save">
<div class="row"><div class="col-xs-1"></div><div class="col-xs-3 col-md-2">Name:</div><div class="col-xs-4 col-md-2"><input type="text" name="user_name" value="{{ user_name }}"></div></div>
<div class="row"><div class="col-xs-1"></div><div class="col-xs-3 col-md-2">Billing profile:</div><div class="col-xs-4 col-md-2"><input type="text" name="billing_profile" value="{{ billing_profile }}"></div></div>
<div class="row"><div class="col-xs-1"></div><div class="col-xs-3 col-md-2"></div><div class="col-xs-1"><button type="submit" class="submitbutton" value="Save">Commit</button></div>
</form>
<form method="GET" action="select">
{% include "templates/body_gae_logo.html" %}
{% include "templates/body_bootstrap.html" %}
</body>
</html>
