<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
{% include "templates/meta.html" %}
{% include "templates/title.html" %}
{% include "templates/css.html" %}
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
  <script type="text/javascript">
  function check_passwords_match(){
   p1 = document.getElementById('user_password').value;
   p2 = document.getElementById('user_confirm_password').value;
   message = '';
   if ( p1 == p2 ) {
	   message = "Passwords match";
    } else {
	   message = "Passwords do not match";
	 }
	document.getElementById('confirm_password_message').innerHTML = message;
	}
	function password_onkeyup() {
	  check_passwords_match();
	}
	function confirm_password_onkeyup() {
	  check_passwords_match();
	}
  </script>
</head>
<body>
{% include "templates/logged_in_header.html" %}
{% include "templates/menu.html" %}
<table summary="password form" >
<tbody>
<form method="GET" action="user-password-save">
<tr><td>Password:</td><td><input type="password" name="u_password1" id="user_password" onkeyup="password_onkeyup()"></td><td class="fieldmessage" id="password_message"></td></tr>
<tr><td>Confirm password:</td><td><input type="password" name="u_password2" id="user_confirm_password" onkeyup="confirm_password_onkeyup()"></td><td class="fieldmessage" id="confirm_password_message"></td></tr>
<tr><td></td><td><button type="submit" class="submitbutton" value="Save">Commit</button></td>
</form>
<form method="GET" action="select">
<input type="hidden" name="user_id" value="{{ user_id }}">
<td><button type="submit" class="submitbutton" value="Cancel">Cancel</button></td></tr>
</form>
</tbody>
</table>
<p></p>
<p><img src="https://developers.google.com/appengine/images/appengine-noborder-120x30.gif" 
alt="Powered by Google App Engine" /></p>
</body>
</html>
