<!DOCTYPE html>
<html lang="en">
  <head>
{% include "templates/meta.html" %}
{% include "templates/title.html" %}
{% include "templates/head_bootstrap.html" %}
{% include "templates/css.html" %}
{% include "templates/head_gae_js.html" %}
  <script type="text/javascript">
  function check_passwords_match(){
   p1 = document.getElementById('user_password').value;
   p2 = document.getElementById('user_confirm_password').value;
   message = '';
   if ( p1 == p2 ) {
	   message = "Passwords match";
    } else {
	   message = "Passwords do not match";
	 }
	document.getElementById('confirm_password_message').innerHTML = message;
	}
	function password_onkeyup() {
	  check_passwords_match();
	}
	function confirm_password_onkeyup() {
	  check_passwords_match();
	}
  </script>
</head>
<body>
{% include "templates/menu.html" %}
<h1>Change password</h1>
<form method="GET" action="user-password-save">
<div class="row"><div class="col-xs-1"></div><div class="col-xs-3 col-md-2">Password:</div><div class="col-xs-4 col-md-2"><input type="password" name="password1" id="user_password" onkeyup="password_onkeyup()"></div><div class="col-md-2 fieldmessage" id="password_message"></div></div>
<div class="row"><div class="col-xs-1"></div><div class="col-xs-3 col-md-2">Confirm password:</div><div class="col-xs-4 col-md-2"><input type="password" name="password2" id="user_confirm_password" onkeyup="confirm_password_onkeyup()"></div><div class="col-xs-4 col-md-2 fieldmessage" id="confirm_password_message"></div></div>
<div class="row"><div class="col-xs-1"></div><div class="col-xs-3 col-md-2"></div><div class="col-xs-1"><button type="submit" class="submitbutton" value="Save">Commit</button></div>
</form>
<form method="GET" action="select">
{% include "templates/body_gae_logo.html" %}
{% include "templates/body_bootstrap.html" %}
</body>
</html>
