<!DOCTYPE html>
<html lang="en">
  <head>
{% include "templates/meta.html" %}
{% include "templates/title.html" %}
{% include "templates/head_bootstrap.html" %}
{% include "templates/css.html" %}
{% include "templates/head_gae_js.html" %}
</head>
<body>
{% include "templates/logged_in_header.html" %}
{% include "templates/menu.html" %}
<h1>User profile</h1>
<div class="row"><div class="col-xs-1"></div><div class="col-xs-3 col-md-2">Name:</div><div class="col-xs-4 col-md-2">{{ user_name }}</div></div>
<div class="row"><div class="col-xs-1"></div><div class="col-xs-3 col-md-2">Billing profile:</div><div class="col-xs-4 col-md-2">{{ billing_profile }}</div></div>
<div class="row"><div class="col-xs-1"></div><div class="col-xs-3 col-md-2"></div><div class="col-xs-4 col-md-2"><a href="user-password-edit" class="linkaslink">Change Password</a></div></div>
<form method="GET" action="user-profile-edit">
<input type="hidden" name="user_id" value="{{ user_id }}">
<div class="row"><div class="col-xs-1"></div><div class="col-xs-3 col-md-2"></div><div class="col-xs-1"><button type="submit" class="submitbutton" value="Edit">Edit</button></div></div>
</form>
{% include "templates/body_gae_logo.html" %}
{% include "templates/body_bootstrap.html" %}
</body>
</html>
